@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/a11y';
@import 'swiper/css/effect-coverflow';
@import 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-y: hidden;
}

/* Loader Styles */
.loader {
    border: 5px solid;
    border-color: #0f172a #0f172a transparent;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 50px;
    width: 50px;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    border: 5px solid;
    border-color: transparent #e11d48 #e11d48;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 25px;
    height: 25px;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/* Swiper Styles */
.swiper {
    padding: 0.8rem 0;
    width: 100%;
}

.swiper-wrapper {
    margin-top: 1.6rem;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-pagination-fraction {
    color: #0f172a;
    position: absolute;
    top: 0;
    height: fit-content;
}

.swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(
        to left,
        rgba(229, 231, 235, 1),
        rgba(229, 231, 235, 0.5)
    );
}

.swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(
        to right,
        rgba(229, 231, 235, 1),
        rgba(229, 231, 235, 0.5)
    );
}

@media (prefers-color-scheme: dark) {
    .loader {
        border-color: #fff #fff transparent;
    }

    .swiper-pagination-fraction {
        color: #fff;
    }

    .swiper-3d .swiper-slide-shadow-left {
        background-image: linear-gradient(
            to left,
            rgba(17, 24, 39, 1),
            rgba(17, 24, 39, 0.5)
        );
    }

    .swiper-3d .swiper-slide-shadow-right {
        background-image: linear-gradient(
            to right,
            rgba(17, 24, 39, 1),
            rgba(17, 24, 39, 0.5)
        );
    }
}
